<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Haley.Abstractions" version="1.0.15" targetFramework="net48" />
  <package id="Haley.Extensions" version="2.1.10" targetFramework="net48" />
  <package id="Haley.Helpers" version="2.1.5" targetFramework="net48" />
  <package id="Haley.IOC" version="3.0.9" targetFramework="net48" />
  <package id="Haley.MVVM" version="6.2.17" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="protobuf-net" version="3.0.101" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.0.101" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Management" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>